<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="user1" class="com.wrp.spring.framework.beandefinition.User"/>
	<bean id="user2" abstract="true"/>
	<bean id="user3" class="com.wrp.spring.framework.beandefinition.User" parent="user1"/>
	<bean id="user4" class="com.wrp.spring.framework.beandefinition.User" parent="user2"/>
	<bean id="user5" class="com.wrp.spring.framework.beandefinition.User" parent="user3"/>
</beans>